@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter";
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

nav {
  width: 100%;
  margin: 0;
  top: 0;
  position: relative;
  z-index: 1000;
  height: auto; /* Allow height to adjust for responsive layouts */
  background-color: #333333; /* Ensure visibility */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
