.salestable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  table-layout: fixed;
}

.salestable tbody tr {
  background: linear-gradient(90deg, #ffffff 0%, #f5f5f5 50%, #ffffff 100%);
}

.salestable thead tr {
  background: none;
}

.salestable th,
.salestable td {
  padding: 20px;
}

.salestable th:nth-child(1),
.salestable td:nth-child(1),
.salestable th:nth-child(2),
.salestable td:nth-child(2),
.salestable th:nth-child(3),
.salestable td:nth-child(3) {
  text-align: left;
}

.salestable th:nth-child(4),
.salestable td:nth-child(4),
.salestable th:nth-child(5),
.salestable td:nth-child(5),
.salestable th:nth-child(6),
.salestable td:nth-child(6) {
  text-align: center;
}

.salestable th:nth-child(7),
.salestable td:nth-child(7) {
  text-align: right;
}

.salestable td:nth-child(3),
.salestable td:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.salestable td {
  vertical-align: middle;
}

.menu-items {
  max-height: max-content;
  overflow-y: auto;
}

.status {
  padding: 5px 10px;
  border-radius: 9999px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status.preparing {
  background-color: #f9e9cc;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
}

.status.waitingforpickup {
  background-color: #dff0ff;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
}

.status.refund,
.status.cancel,
.status.pending {
  background-color: #e9e9e9;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
}

.status.completed {
  background-color: #08a747;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.status.not-picked-up {
  background-color: #e9e9e9;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
}
